{% extends "base.html.twig" %}

{% block title %}Be Geek - Gafas de sol y graduadas para auténticos Geeks{% endblock %}

{% block body %}
<h1>Aquí llegaríamos a una página de detalle de unas gafas en particular o categorias...</h1>
{% endblock %}